@{
    ViewData["Title"] = "Delete Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="thisbackground">
    <h2>Confirm Deletion of Your Account</h2>
    <p>Sorry, this feature is not yet available. Check back soon!</p>
</div>