@{
    ViewData["Title"] = "TripPlanet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="waves-effect waves-light btn">button</a>

<div class="tabs u-center-v">
    <div class="tabs__tab tabs__tab--home">
        <div class="tabs__tab-inner">Home</div>
    </div>
    <div class="tabs__tab tabs__tab--blog">
        <div class="tabs__tab-inner">Blog</div>
    </div>
    <div class="tabs__tab tabs__tab--about">
        <div class="tabs__tab-inner">About</div>
    </div>
    <div class="tabs__tab tabs__tab--contact">
        <div class="tabs__tab-inner">Contact</div>
    </div>
</div>