@{
    ViewData["Title"] = "TripPlanet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="planet_wraper planet_shadow">
    <div class="planet">
        <div class="crater"></div>
        <div class="crater"></div>
        <div class="crater"></div>
        <div class="crater"></div>
        <div class="crater"></div>
    </div>
</div>


<div class="wrapper">
    <h1 class="title">
        <span class="title-line">Trip</span>
        <span class="title-line">Planet</span><br />
        <span class="title-line" id="small">A Trip Planner</span>
    </h1>
    <br />
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="home-button">
            <a href="/Trips"><span class="title-line">ENTER</span></a>
        </h1>
    }
    else
    {
        <h1 class="home-button">
            <a href="/Account"><span class="title-line">ENTER</span></a>
        </h1>
    }
</div>


