html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.render-body {
    margin: 0 auto;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
    min-height: 100%;
    text-align: center;
    background-color: white;
    color: black;
}

#map-container {
    width: 100vw;
    padding-left: 100px;
}

.navbar-default {
    background-color: white;
    border: none;
    height: 15vh;
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;


    #navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: center;

        .navbar-nav {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: center;
            height: 15vh;

            a {
                display: flex;
                justify-content: center;
                color: #ffbf47;
                font-weight: bold;
                padding-top: 25px;
                height: 15vh;
                margin-left: 20px;
                margin-right: 20px;
                min-width: 100px;
            }

            #brand, #navlink {
                display: flex;
                height: 100%;
                justify-content: center;
                min-width: 100px;
            }

            #brand a {
                font-size: 30px;
                font-weight: bold;
                text-shadow: 1.5px .5px .5px black;
            }

            #brand a:hover {
                color: black;
                text-decoration: none;
            }

            #navlink:hover {
                /*background-image: url("../img/notUsing/space_paint.png");*/
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            #navlink a {
                font-size: 20px;
            }

            #navlink a:hover {
                color: tomato;
                text-decoration: none;
            }
        }
    }
}
.footer {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    height: 30px;
    width: 100%;
    border: 1px solid lightgrey;
}

.jumbotron {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url("http://kociastrona.info/interpretation/galaxy/galaxy-09.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;

    h1 {
        display: flex;
        justify-content: center;
        color: white;
    }
}

.trip-cards {
    width: 80%;
}
