@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.render-body {
  margin: 0 auto;
  min-height: 60vh; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 10rem;
  min-height: 100%;
  text-align: center;
  background-color: white;
  color: black; }

#map-container {
  width: 100vw;
  padding-left: 100px; }

footer {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }

.card {
  margin: 15px;
  max-width: 450px; }

.uk-form-horizontal {
  max-width: 50vw; }

.city {
  max-width: 70vw;
  width: 70vw;
  margin-left: 15vw; }

button a {
  color: black; }

button a:hover {
  color: #55B4B0; }

a {
  color: #55B4B0; }

.u-center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.tabs {
  width: 100%;
  text-align: center; }
  .tabs__tab {
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    box-shadow: inset 10px 0;
    transition: box-shadow 200ms ease-out;
    cursor: pointer;
    font-size: 18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin-right: 15px; }
    .tabs__tab:last-of-type {
      margin-right: 0; }
    .tabs__tab--active, .tabs__tab:hover {
      box-shadow: inset 140px 0; }
    .tabs__tab-inner {
      color: #222;
      transition: color 200ms ease-out; }
      .tabs__tab:hover .tabs__tab-inner {
        color: white; }
    .tabs__tab--home {
      color: deepskyblue; }
    .tabs__tab--blog {
      color: deeppink; }
    .tabs__tab--about {
      color: lightseagreen; }
    .tabs__tab--contact {
      color: rebeccapurple; }

