@{
    ViewData["Title"] = "Trip Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TripPlanet.Models.Trip

<h2>Your Trip Map</h2>
@foreach(var marker in ViewBag.TripCities)
{
    <p>@marker.Name</p>
}
<div id="map_canvas" style="width: 100%; height: 80vh"></div>

<script type="text/javascript">
    window.onload = function () {
        var jsonLocations = '@Html.Raw(ViewBag.LatLong)';
        var locations = JSON.parse(jsonLocations);

        var mapOptions = {
            center: new google.maps.LatLng('@ViewBag.StartLatLong[0]', '@ViewBag.StartLatLong[1]'),
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

        for (i = 0; i < locations.length; i++) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i].Latitude, locations[i].Longitude),
                map: map
            });
            //bounds.extend(marker.position);
        }
    }
</script>