@{
    ViewData["Title"] = "Trip Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TripPlanet.Models.Trip

<h2>Your Trip Map</h2>
@foreach(var marker in ViewBag.TripCities)
{
    <p>@marker.Name</p>
}
<div id="map_canvas" style="width: 100vw; height: 80vh"></div>

<script type="text/javascript">
    window.onload = function () {
        var mapOptions = {
            center: new google.maps.LatLng('@ViewBag.StartLatLong[0]', '@ViewBag.StartLatLong[1]'),
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);
    }
</script>