@{
    ViewData["Title"] = "Public Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.PublicTrips.Count != 0)
{
        <div class="uk-flex uk-flex-wrap uk-flex-center">
            @foreach (var trip in ViewBag.PublicTrips)
            {
                <div class="uk-card uk-card-default uk-width-1-2@m trip-cards">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">@trip.Name</h3>
                                <p class="uk-text-meta uk-margin-remove-top">@trip.BeginDate.Date to @trip.EndDate.Date</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <a href="/Trips/Details/@trip.TripId" class="uk-button uk-button-text">Trip Details</a>
                    </div>
                </div>
            }
        </div>
}
else
{
    <p>There are currently no public trips.</p>
}
